body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    padding: 15px;
    margin: 10px;
    background-color: red;
    color: white;
}