<!DOCTYPE html>
<html lang="es-es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar contraseña por correo</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <br><br>
        <a href="/login">Volver</a>
        <br><br><br>
        <form method="POST">
            <label for="username_or_email">Nombre de Usuario o Email:</label>
            <input type="text" id="username_or_email" name="username_or_email" required><br>
            {% if error %}
            <p style="color:red;">{{ error }}</p>
            {% endif %}
            <button type="submit">Enviar Correo</button>
        </form>
</body>
</html>