<!DOCTYPE html>
<html lang="es-es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenid@</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <p>Bienvenid@ {{ username }}</p>
    {% if role == "admin" %}
        <a href="/home/users">Usuarios</a>
    {% endif %}
    <a href ="/home/messages"> Mensajes </a><br><br><br>
    <a href="/home/change-password">¿Quiere cambiar tu contraseña?</a><br><br><br>
    <form action="/logout" method="POST">
        <button type="submit" id="logout">Cerrar sesión</button>
    </form>
    <!--
    <form action="/home/change-password" method="POST">
        <button type="submit">¿Quiere cambiar tu contraseña?</button>
    </form>
    -->
</body>
</html>