<!DOCTYPE html>
<html lang="es-es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de sesión</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>Inicia Sesión</h1>
    <form action="/" method="POST">
        <label for="username_or_email">Nombre de Usuario o Email:</label>
        <input type="text" id="username_or_email" name="username_or_email"
               required><br>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required><br>

        <!-- Mensaje de error si hay -->
        {% if error %}
            <p style="color:red;">{{ error }}</p>
        {% endif %}

        <button type="submit">Iniciar Sesión</button>
    </form>
    <form action="/change-password-email" method="POST">
        <button type="submit">¿Olvidaste tu contraseña?</button>
    </form>
    <br><br><br>
    <a href="/">Volver</a>
    <a href="/cambiar-contraseña"> ¿No recuerdas tu contraseña? </a>
</body>
</html>