<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <a href="..">Volver</a>
    <h1>Lista de Usuarios Registrados</h1>
    <ul>
        {% for usuario in usuarios %}
            <li>id: {{usuario["id"]}} - Usuario: {{ usuario["username"] }} -
                Email: {{usuario["email"]}} -
                Contraseña: {{usuario["password"]}}</li>
        {% endfor %}
    </ul>

</body>
</html>