<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <a href="/home">Volver</a>
    <br><br><br>
    <h1>Lista de Usuarios Registrados</h1>
    <ul>
        {% for user in users %}
            <li>id: {{user["id"]}} - Usuario: {{ user["username"] }} -
                Email: {{user["email"]}} -
                Contraseña: {{user["password"]}} - Rol: {{ user["role"] }}
            </li>
            {%  if user["role"] != "admin" %}
                <form method="POST" style="display: inline;">
                    <input type="hidden" name="id" value="{{ user["id"] }}">
                    <button type="submit">Eliminar</button>
                </form>
            {% endif %}
            <hr>
        {% endfor %}
    </ul>
</body>
</html>